{% extends 'layout.html' %}

{% block title %}
Quotes
{% endblock %}

{% block content %}
<div class='flex-container'>
    <h2 class="flex-column-title">Quotes</h2>
    <a href="{% url 'create-quote' %}" class='flex-column-button'>Create new quote</a>
</div>
    <ul>
        {% for q in quotes%}
        <li>
            <h4>"{{q.content}}"</h4>
            <p>
                {{q.author}} ({{q.origin}})
                </br>
                <div class="quoteActions">
                    <a href="{% url 'update-quote' id=q.id %}" class='editQuote'>Edit</a>
                    <a href="{% url 'delete-quote' id=q.id %}" class='deleteQuote'>Delete</a>
                </div>
            </p>            
        </li>
        {% endfor %}
    </ul>  
{% endblock%}