{% extends 'layout.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<h1 class="title">{{title}}</h1>
<h3>Hi 
    {% if name != '' %}
        {{name}}!!!
    {% else %}everyone!!!
    {% endif %}
</h3>
<p>If you try to visit the url <em>'/say-hi/&#123;Your name&#125;'</em> a special message will be displayed instead of <em>"Hi everyone!!!"</em>.</p>
<p>If you visit the url <em>'/say-hi/&#123;world&#125;'</em>, you will be redirected to the Hello World! page.</p>
{% endblock%}